/*FOOTER CON BOOTSTRAP*/

.footer {
    font-size: 10px;
    text-align: $ubicacion-texto;
}

.iconos {
    font-size: 40px;
}

.fa-whatsapp {
    &:hover {
        color: green;
    }
}

.fa-facebook {
    &:hover {
        color: blue;
    }
}

.fa-instagram {
    &:hover {
        color: fuchsia;
    }
}