/*PLANES*/

.estiloPa {
    background-color: rgb(21, 175, 149);
    border: solid #072711;
    margin: 5px;
    padding: 5px;
    .ImagenSec3 {
        display: grid;
        place-items: center;
    }
}

.estiloTabla {
    background-color: rgb(21, 175, 149);
    border: solid #000000;
}
