/*VARIABLES*/

$tipografia-general: 'Noto Serif', serif;
$ubicacion-texto: center;

/*MAPAS*/
$bordes: (
    borde-solid-unpixel:1px solid black,
    borde-solid-dospixel:2px solid black,
    borde-solid-trespixel:3px solid black,
    borde-solid-cuatropixel:4px solid black,
    borde-solid-cincopixel:5px solid black,
    )